
{% extends 'base.html' %}

{% block body %}

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1>Мистецтво</h1>
          <ol>
            <li><a href="/index.html#catalog">Каталог ідей</a></li>
            <li>Мистецтво</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="container">
            <section class="box">

              <ul class="style2">
                <li>
                    <article class="box post-excerpt">
                        <a href="card_art.html" class="image left"><img src="static/img/catalog/art01.jpg" alt=""></a>
                        <h2><a href="card_art.html">Гутне скло. Використання оксиду барію у якості освітлювача</a></h2>
                        <p> Гутне скло - скло, отримане шляхом варіння скломаси у скловарних печах. До складу скла
                            входить кремнезем та різні оксиди. Кожен оксид надає склу певних властивостей. Сульфат
                            натрію застосовується як освітлювач із введенням оксиду натрію. Наявність у скломасі оксиду
                            барію сприяє покращенню скломаси як освітлювач. Цинкові білила покращують відтінок скла.
                            Оксид свинцю надає склу блиск, високий показник заломлення, вироби добре піддаються
                            грануванню, шліфуванню та поліруванню.</p>
                    </article>
                </li>
                <li>
                    <article class="box post-excerpt">
                        <a href="card_art.html" class="image left"><img src="static/img/catalog/art02.jpg" alt=""></a>
                        <h2><a href="card_art.html">Стріт-арт проти війни</a></h2>
                        <p>Британський художник Бенксі, що оберігає своє справжнє ім’я та не розкриває особистості,
                            побував в Україні й створів 7 робіт. Це вуличне мистецтво, яке резонує ще сильніше через
                            розміщення на зруйнованих російськими ракетами будівлях. За останні дев’ять місяців Росія
                            завдала понад 16 тисяч ракетних ударів по Україні. 97% цілей — цивільні об’єкти. Це
                            спричинило дискусію — чи етично робити малюнки на зруйнованих війною домах. Щоб робити
                            висновки, треба бачити на власні очі.
                        </p>
                    </article>
                </li>
                <li>
                    <article class="box post-excerpt">
                        <a href="card_art.html" class="image left"><img src="static/img/catalog/art03.jpg" alt=""></a>
                        <h2><a href="card_art.html">NFT задля оцифрування стріт-арту</a></h2>
                        <p> Виконавчий директор Christie’s Гійом Черутті прогнозує, що цьогоріч посилиться
                            взаємопроникнення "спільноти NFT та світу традиційного мистецтва, розширення та
                            диверсифікація ринку". З ним погоджується директор Art Basel Марк Шпіглер. Він вважає,
                            що "простір NFT стане цікавішим — переважно з концептуальної, а не з естетичної точки зору.
                            Не судіть про цю книгу за обкладинкою". А от співзасновник ClubNFT Джейсон Бейлі прогнозує
                            "катастрофу на ринку NFT".</p>
                    </article>
                </li>
                <li>
                    <article class="box post-excerpt">
                        <a href="card_art.html" class="image left"><img src="static/img/catalog/art04.jpg" alt=""></a>
                        <h2><a href="card_art.html">Інклюзивний дизайн та бізнес</a></h2>
                        <p> Інклюзивність як одна з ключових особливостей графічного дизайну, допомагає аудиторії
                            побачити власне відображення у продуктах та місії бізнесу. </p>
                        <p> Все більше брендів прагнуть
                            використати методи інклюзивного дизайну, щоб охопити ширшу аудиторію. Ключова відмінність
                            інклюзивного дизайну 2023 — це прогресивні візуальні ефекти.</p>
                    </article>
                </li>

              </ul>

            </section>
        </div>
    </section>

  </main><!-- End #main -->

{% endblock %}