
{% extends 'base.html' %}

{% block body %}

  <main>
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="static/img/portfolio/en01.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/img/portfolio/en02.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/img/portfolio/en03.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="portfolio-info">
              <h3>Опис Ідеї</h3>
              <ul>
                <li><strong>Автор</strong>: Петро Сало</li>
                <li><strong>Категорія</strong>: Енергетика</li>
                <li><strong>Дата реєстрації</strong>: 05 Січня, 2023</li>
                <li><strong>Посилання</strong>: <a href="#">https://salo.energy/</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Nano Diamond Battery</h2>
              <p>
                NDB або Nano Diamond Battery – це інноваційний генератор і накопичувач енергії, який
                переосмислює та революціонізує батарею, якою ми її знаємо. Його довговічність і
                довговічність забезпечуються перетворенням енергії радіоактивного розпаду ядерних
                відходів в енергію.
              </p>
              <p>
                Вже сьогодні за лідерство у накопиченні енергії ведуть боротьбу топ-держави. США оновлює
                законодавство, якого потребує ця галузь, стимулюючи цим її розвиток. Індія розпочала національну
                програму з накопичення енергії, відкрито заявляючи про лідерські амбіції. Німеччина і Китай
                перебувають на порозі глобальних інвестицій у ринок акумуляторів, який невпинно розвивається.
              </p>
              <p>
                Ефективні накопичувальні системи – шлях до балансу між кількістю виробленої енергії та попитом на неї.
                А значить – ключ до вирішення викликів, які, за переконаннями експертів, постануть перед світовою
                енергетикою в найближчі десятиліття.
              </p>
              <p>
                Самі технології накопичення енергії ще зарано називати досконалими. Кожну складову такої технології
                ще можна розвивати, і це відкриває можливості для винахідників та інноваторів.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
  </main>

{% endblock %}

