
{% extends 'base.html' %}

{% block body %}

  <main>
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="static/img/portfolio/art01.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/img/portfolio/art02.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/img/portfolio/art03.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="portfolio-info">
              <h3>Опис Ідеї</h3>
              <ul>
                <li><strong>Автор</strong>: Бенксі</li>
                <li><strong>Категорія</strong>: <a href="art.html">Мистецтво</a></li>
                <li><strong>Дата реєстрації</strong>: Листопад, 2022</li>
                <li><strong>Посилання</strong>: <a href="#">https://www.banksy.co.uk/</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Стрит-арт проти війни</h2>
              <p>
                Британський художник Бенксі, що оберігає своє справжнє ім’я та не розкриває особистості,
                побував в Україні й створів 7 робіт. Це вуличне мистецтво, яке резонує ще сильніше через
                розміщення на зруйнованих російськими ракетами будівлях. За останні дев’ять місяців Росія
                завдала понад 16 тисяч ракетних ударів по Україні. 97% цілей — цивільні об’єкти. Це
                спричинило дискусію — чи етично робити малюнки на зруйнованих війною домах. Щоб робити
                висновки, треба бачити на власні очі.
              </p>
              <p>
                <i>Гостомель.</i> Зовсім поруч із цим місцем — гостомельський аеропорт (це тут базувався український літак
                "Мрія"). П’ятиповерхові житлові будиночки, навіть зруйновані через війну, мають парадоксально затишний
                вигляд. Тож сильніше враження від роботи — жіночка в бігуді й протигазі, в домашніх капцях буденно
                тримає вогнегасник у руці. Стіну підпирає домашній стілець. Мурахи біжать спиною.
              </p>
              <p>
                <i>Бородянка.</i> Бородянка справляє гнітюче враження. Вона постраждала від російських обстрілів чи не
                найбільше в Київській області. Проте є й вцілілі будівлі — з новими, щойно вставленими вікнами. Є щось
                неймовірно зворушливе в стикерах, що видніються на кожному з них. Серед них притулилась розтрощена
                котельня, з тильної сторони якої — маленький хлопчик перемагає здорового чолов’ягу у формі для карате.
                Алюзія на путіна, що терпить нищівне приниження, читається миттєво.
              </p>
              <p>
                <i>Горенка.</i> Від будинку залишилися дві бічні частини. В лівій досі живуть люди. Посередині — лише
                задня стіна; видно плитку, шматки шпалер, рештки життя. Робота Бенксі — чоловік, що приймає ванну. У
                нього модна борода, в руці — не менш модна щітка з довгою ручкою (ми використовуємо такі для масажу
                тіла), та й ванна — теж модна: окремо розташована, на красивих вигнутих ніжках.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
  </main>

{% endblock %}

