
{% extends 'base.html' %}

{% block body %}

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1>Енергетика</h1>
          <ol>
            <li><a href="/index.html">Головна</a></li>
            <li>Енергетика</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="container">
            <section class="box">

              <ul class="style2">
                <li>
                    <article class="box post-excerpt">
                        <a href="card02.html" class="image left"><img src="static/img/catalog/en01.jpg" alt=""></a>
                        <h2><a href="card02.html">Nano Diamond Battery</a></h2>
                        <p>NDB або Nano Diamond Battery – це інноваційний генератор і накопичувач енергії, який
                            переосмислює та революціонізує батарею, якою ми її знаємо. Його довговічність і
                            довговічність забезпечуються перетворенням енергії радіоактивного розпаду ядерних
                            відходів в енергію. Ефективні накопичувальні системи – шлях до балансу між кількістю
                            виробленої енергії та попитом на неї. А значить – ключ до вирішення викликів, які,
                            за переконаннями експертів, постануть перед світовою енергетикою в найближчі десятиліття.</p>
                    </article>
                </li>
                <li>
                    <article class="box post-excerpt">
                        <a href="card02.html" class="image left"><img src="static/img/catalog/en02.jpg" alt=""></a>
                        <h2><a href="card02.html">Воднева енергія</a></h2>
                        <p>Енергія з водневих паливних елементів затребувана буквально всюди: від акумуляторів для
                            смартфонів та комп'ютерів – до військових технологій. Тому можливості для розробників
                            інноваційних рішень тут – дійсно безмежні. Ця технологія дихає у спину не лише
                            електротранспорту, а й альтернативній енергетиці в
                            цілому. Ще до 2010 року використання водневих паливних елементів успішно випробували на
                            автотранспорті та літаках.
                        </p>
                    </article>
                </li>
                <li>
                    <article class="box post-excerpt">
                        <a href="card02.html" class="image left"><img src="static/img/catalog/en03.jpg" alt=""></a>
                        <h2><a href="card02.html">Енергоефективність</a></h2>
                        <p>Як ефективно використовувати енергію, як споживати її менше, але не втрачати рівень
                            забезпечення? Ці питання існують, мабуть, стільки ж, скільки існує сама енергетика.
                            Енергоощадне освітлення, ефективне опалення, ізоляція будівель, мікромережі – лише
                            невеликий перелік того, що допомагає розвивати енергоефективність, і в чому їй потрібні
                            інновації.</p>
                    </article>
                </li>
                <li>
                    <article class="box post-excerpt">
                        <a href="card02.html" class="image left"><img src="static/img/catalog/en04.jpg" alt=""></a>
                        <h2><a href="card02.html">Розвиток сонячних панелей</a></h2>
                        <p>У 2009 році компанія Spectrolab продемонструвала технологію, яка перетворювала сонячну
                            енергію на електрику з ефективністю в 41,6%. Вже через 5 років, у 2014-му, з’явились сонячні
                            батареї з ККД у 46%. А у 2018 році одразу два відкриття дозволили підняти теоретичну межу
                            ефективності одного з видів фотоелементів з 34% на 66%. Це лише один із прикладів,
                            наскільки інтенсивно науковці залучені у розвиток сонячної енергетики, перспективи якої
                            вже давно стали очевидними.</p>
                    </article>
                </li>

              </ul>

            </section>
        </div>
    </section>

  </main><!-- End #main -->

{% endblock %}