
{% extends 'base.html' %}

{% block body %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url('static/img/slide/slide-1.jpg');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">Музей <span>Ідей</span></h2>
                <p class="animate__animated animate__fadeInUp">Простір, де народжуються та реалізовуються сміливі
                  проекти, культурні акції та перформанси сучасного мистецтва.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Докладніше</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url('static/img/slide/slide-2.jpg');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">Музей <span>Ідей</span></h2>
                <p class="animate__animated animate__fadeInUp">Ідея його облаштування виникла у знаного у місті
                  художника та галериста Олеся Дзиндри.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Докладніше</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url('static/img/slide/slide-3.jpg');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">Музей <span>Ідей</span></h2>
                <p class="animate__animated animate__fadeInUp">Музей Ідей розташований у центрі Львова, у приміщенні
                  колишніх пивниць монастиря бернардинців. Спершу тут планували створити Музей скла</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Докладніше</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="col-lg-6 video-box">
            <img src="static/img/about.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/embed/E3lxHcAOirM" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true" target="new"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

            <div class="section-title">
              <h2>Про Музей</h2>
              <p>Музей Ідей у Львові завжди був місцем зародження ініціатив. Саме тут був ініційований фестиваль
                незалежного кіно КіноЛев, саме тут з’явилася одна із перших майстерень гутного скла в незалежній
                Україні, а також галерея, трапезна та навіть вигадана республіка.
                </p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-calendar"></i></div>
              <h4 class="title"><a href="">Заснування</a></h4>
              <p class="description">Музей Ідей у 1992 році відкрив львівський художник Олесь Дзиндра, створивши
                мистецький осередок Львова, що вже понад 25 років займається мистецькими експериментами.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-calendar-heart"></i></div>
              <h4 class="title"><a href="">Діяльність</a></h4>
              <p class="description">Зараз у Музеї  Ідей відбуваються виставки, проходять концерти, перфоманси,
                театральні інсталяції та інші мистецькі акції. </p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <section class="counts section-bg">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-simple-smile" style="color: #20b38e;"></i>
              <span data-purecounter-start="0" data-purecounter-end="235" data-purecounter-duration="1" class="purecounter"></span>
              <p>Нових ідей</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-document-folder" style="color: #c042ff;"></i>
              <span data-purecounter-start="0" data-purecounter-end="1467" data-purecounter-duration="1" class="purecounter"></span>
              <p>Ідей в Музеї</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
            <div class="count-box">
              <i class="bi bi-live-support" style="color: #46d1ff;"></i>
              <span data-purecounter-start="0" data-purecounter-end="520" data-purecounter-duration="1" class="purecounter"></span>
              <p>Винахідників</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
            <div class="count-box">
              <i class="bi bi-users-alt-5" style="color: #ffb459;"></i>
              <span data-purecounter-start="0" data-purecounter-end="9" data-purecounter-duration="1" class="purecounter"></span>
              <p>Категорій</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= CATALOG Section ======= -->
    <section id="catalog" class="portfolio section-bg">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="section-title">
          <h2>Каталог ідей</h2>
          <p>Усі ідеї в Музеї згруповані по відповідних категоріях. Відкрийте категорію, яка Вас цікавить, щоб
            переглянути список зареєстрованих ідей. Натиснувши на картку ідеї, яка Вас зацікавила, можна відкрити
            детальний опис, де вказано автора, дату реєстрації, опис ідеї та додані зображення</p>
        </div>

        <!--Filters-->
<!--        <div class="row">-->
<!--          <div class="col-lg-12">-->
<!--            <ul id="portfolio-flters">-->
<!--              <li data-filter="*" class="filter-active">All</li>-->
<!--              <li data-filter=".filter-app">App</li>-->
<!--              <li data-filter=".filter-card">Card</li>-->
<!--              <li data-filter=".filter-web">Web</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Мистецтво</h4>
                <div class="portfolio-links">
                  <a href="art.html" title="Відкрити категорію"><i class="bi bi-folder2-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>ІТ</h4>
                <div class="portfolio-links">
                  <a href="it.html" title="Відкрити категорію"><i class="bi bi-folder2-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Енергетика</h4>
                <div class="portfolio-links">
                  <a href="energy.html" title="Відкрити категорію"><i class="bi bi-folder2-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Медицина</h4>
                <div class="portfolio-links">
                  <a href="energy.html" title="Відкрити категорію"><i class="bi bi-folder2-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Біотехнології</h4>
                <div class="portfolio-links">
                  <a href="energy.html" title="Відкрити категорію"><i class="bi bi-folder2-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Сільське господарство</h4>
                <div class="portfolio-links">
                  <a href="energy.html" title="Відкрити категорію"><i class="bi bi-folder2-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Біг дата</h4>
                <div class="portfolio-links">
                  <a href="energy.html" title="Відкрити категорію"><i class="bi bi-folder2-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Зв'язок</h4>
                <div class="portfolio-links">
                  <a href="energy.html" title="Відкрити категорію"><i class="bi bi-folder2-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Робототехніка</h4>
                <div class="portfolio-links">
                  <a href="energy.html" title="Відкрити категорію"><i class="bi bi-folder2-open"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

        <!-- ======= How To Register Idea Section ======= -->
    <section id="reg" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Як зареєструвати Ідею</h2>
        </div>

        <div class="row  d-flex align-items-stretch">

          <div class="col-lg-6 faq-item" data-aos="fade-up">
            <h4>1. Перейдіть на сторінку реєстрації ідеї</h4>
            <p>
              Перейдіть на сторінку реєстрації ідеї за наступним посиланням: <a href="/create-idea.html">Зареєструвати ідею</a>
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="100">
            <h4>2. Виберіть категорію</h4>
            <p>
              З випадаючого списку виберіть категорію, в якій Ви хочете зареєструвати ідею. На сьогоднішній день
              доступні дев'ять наступних категорій: Мистецтво, Інформаційні технології, Енергетика, Медицина,
              Біотехнології, Сільське господарство, Зв'язок, Біг дата, Робототехніка
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="200">
            <h4>3. Заповніть усі поля в формі реєстрації</h4>
            <p>
              Усі поля в формі реєстрації Ідеї обов'язкові для заповнення. Вказаний імейл буде використовуватись для
              контакту з автором Ідеї. Номер телефону необхідно вказати в міжнародному форматі. Поле "Назва ідеї" має
              обмеження по довжині: 100 символів. Поле "Короткий опис" має обмеження по довжині: 350 символів. По полю
              "Детальний опис" немає обмеження по довжині тексту.
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="300">
            <h4>4. Відправте заповнену форму на перевірку</h4>
            <p>
              Надана Вами інформація буде надіслана на перевірку експертами Музею. Після перевірки та оцінки інформації
              Ідея буде зареєстрована та опублікована на сайті. В разі необхідності співробітники Музею зв'яжуться з
              Вами для уточнення інформації.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Поширені питання</h2>
        </div>

        <div class="row  d-flex align-items-stretch">

          <div class="col-lg-6 faq-item" data-aos="fade-up">
            <h4>Принципи роботу Музею</h4>
            <p>
              Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="100">
            <h4>Юридичні гарантії</h4>
            <p>
              Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim.
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="200">
            <h4>Права авторів ідей</h4>
            <p>
              Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus.
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="300">
            <h4>Можливості використання ідей</h4>
            <p>
              Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim.
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="400">
            <h4>Оцінка Ідей відвідувачами Музею</h4>
            <p>
              Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="500">
            <h4>Відзнака найбільш популярних ідей</h4>
            <p>
              Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Наша команда</h2>
          <p>Умовна команда в якості наповнення для демонстраційної моделі можливого функціоналу.</p>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
            <div class="member">
              <div class="pic"><img src="static/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="static/img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="pic"><img src="static/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="static/img/team/team-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Наші контакти</h2>
        </div>

        <div class="row">

          <div class="col-lg-6 d-flex" data-aos="fade-up">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>Наша адреса</h3>
              <p>вулиця Валова, 18a, Львів, Львівська область, 79000</p>
            </div>
          </div>

          <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>Пошта</h3>
              <p>info@museumofideas.ua</p>
            </div>
          </div>

          <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box ">
              <i class="bx bx-phone-call"></i>
              <h3>Телефон</h3>
              <p>+38 0322 546 155</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

{% endblock%}
