{% extends 'base.html' %}

{% block body %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h1>Соціологія</h1>
                <ol>
                    <li><a href="/index.html#catalog">Каталог ідей</a></li>
                    <li>Соціологія</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="container">
            <section class="box">

                {% if ideas|length > 0 %}
                    <ul class="style2">
                        {% for idea in ideas %}
                            <li>
                                <article class="box post-excerpt">
                                    <a href="/ideas/{{idea.id}}" class="image left"><img src="static/img/portfolio/idea_icon.jpg" alt="Idea icon"></a>
                                    <h2><a href="/ideas/{{idea.id}}"> {{ idea.title }} </a></h2>
                                    {{ idea.date.strftime('%d') }} {{ idea.date.strftime('%B') }} {{ idea.date.year }}
                                    <p> {{ idea.intro }} </p>
                                </article>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p></p>
                    <p>В даній категорії ще не зареєстровано ідей</p>
                {% endif %}

            </section>
        </div>
    </section>

</main><!-- End #main -->

{% endblock %}